* {
  box-sizing: border-box;
}
h1 {
  margin: 0;
}

/* Reset some default margin and padding on the body element */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: white;
}
.heading {
  font-size: 2.2vmax;
}
.screen-main {
  height: 100vh;
  width: 100vw;
  background-color: #1f253a;
  /* border: 2px solid red; */
  /* overflow: hidden; */
}
.logo {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  /* width: 2vmax; */
}
.CPFunction1{

 display: none;
}
.logo > img {
  width: 7vmax;
}
.title {
  padding-right: 9rem;
}
.invite {
  border: 2px solid yellow;
  display: flex;
  padding: 10px;
  gap: 8px;
  border-radius: 10px;
  width: 6%;
}
.invite:hover {
  border-color: grey;
}

.invite:hover div {
  border-color: grey;
  background-color: grey;
}

.invite div {
  border: 2px solid yellow;
  background-color: yellow;
  color: #1f253a;
  font-weight: 100;
  /* padding: 0px; */
  width: 50%;
  height: 2.5vh;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  color: yellow;
}
.sidebar {
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  width: 5%;
  gap: 5%;

  align-items: center;
  height: 88%;
}
.video {
  border: 5px solid yellow;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 5%;
}
.main-video {
  width: 100%;
  height: 89%;
  /* border:2px solid yellow; */
  display: flex;
}
.video-call {
  /* border: 2px solid yellow; */
  width: 90%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
}
.video-section {
  width: 100%;
  /* border:2px solid green; */
  border-radius: 30px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section > div {
  border: 2px solid orange;
  width: 48%;
  height: 90%;
  margin: 1%;
  border-radius: 20px;
  overflow: hidden;
}
.host > div:first-child {
  /* border:2px solid red; */
  width: 80px;
  padding: 1%;
  border-bottom-right-radius: 20px;
  background-color: #ffc701;
  color: #1f253a;
  border-color: #ffc701;
  /* margin-left: ; */
}
.control {
  /* border: 2px solid red; */
  width: 92vw;
  margin-top: -70px;
  margin-left: 5%;
  height: 8%;
  display: flex;
}

.f1 {
  display: flex;
  align-items: center;
  gap: 2%;
  /* border: 2px solid green; */
  width: 50%;
  /* height: 4vmax; */

  /* justify-content: center; */
}
.function {
  display: grid;
  grid-template-columns: repeat(
    5,
    1fr
  ); 
  gap: 0px; 
  width: 88%;
  /* height: 90%; */
  border: 2px solid gray;
  border-radius: 10px;
  overflow: hidden;
 
  
}

.function > div {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding: 5px;
  text-align: center;
}
.function > div > input{
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.function > div:first-child > h3{
width: 100%;
height: 100%;
}
.piano{
  padding-top: 5%;
}
.function > div > h6{
/* border: 2px solid red; */
padding-right: 10%;
}
.div4{
  width: 50%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
.div5 > h3 > input{
width: 40%;
text-align: center;
background-color: transparent;
border: none;
color: white;
outline: none;
}
.function > div > input::placeholder  {
color: white;
}
 .div5 input::placeholder {
  color: white;
}
 .div4::placeholder {
  color: white;
}
.pointer {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.pointer {
  cursor: pointer;
}

.div4 input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.div4 input[type="number"]::-webkit-inner-spin-button,
.div4 input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}







.function > div:first-child {
  border: none;
}

.function > div:last-child {
  border: none;
}
.function h3 {
  margin: 0;
}

.function h6 {
  margin: 0;
  color: #888;
}
.play {
  border: 2px solid white;
  padding: 0.5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play > div {
  background-color: red;

  border: 2px solid red;
  border-radius: 50%;
  padding: 12px;
}

.f2 {
  /* border: 2px solid yellow; */
  width: 50%;
  /* border: 2px solid green; */
  height: 4vmax;
  
}



.end-jam {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 96%;
  padding-left: 20%;
  gap: 4%;
  /* border: 2px solid red; */

}
.end-jam > div {
  border: 2px solid grey;
  height: 80%;
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.end-jam button,
.end-jam svg {
  /* font-size: 1.5rem; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.end-jam button:hover,
.end-jam svg:hover {
  color: #ffc701;
}
.end-jam > div:first-child {
  width: 20%;
  height: 80%;
  border-radius: 5px;

  background-color: red;
  border: 1px solid red;
}
.end-btn {
  font-size: 1.2vmax;
  color: white;
}
.sub-menu {
  font-size: 15px;
  margin-top: -12px;
  margin-right: -1px;
  padding-left: 1px;
}
.end-jam > div:nth-child(2){
  padding-left: 10px;
}
.end-jam > div:nth-child(3){
  padding-left: 10px;
}
.userName {
  /* border: 2px solid red; */
  height: 90%;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 4%;
}
.userName > div {
  border: 2px solid green;
  width: 5vmax;
  height: 3vmax;
  /* text-align: center; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.host > .userName {
  height: 77%;
}
.mobile-sidebar{
  display: none;
}
.CPFunction2{
  display: none;

}
.MobFooter{
  display: none;
}

/* Default styles for all screen sizes */

/* Media query for screens smaller than 600 pixels */
@media only screen and (max-width: 600px) {
  .screen-main {
     /* position: fixed;
  width: 100%;
  height: 100%; */
  overflow: hidden;
  position: fixed;
 
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-sidebar{
    display: block;
  }

  .title {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .invite {
    border: 2px solid yellow;
    display: flex;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;
    width: 31px;
    height: 30px;
  }
  .invite span {
    display: none;
  }
  .invite div {
    width: 20px !important;
    height: 5px;
    padding: 8px;
    /* display: flex;
justify-content: center;
align-items: center; */
    margin-top: -8px;
    margin-left: -6px;
    
  }
  .logo > img, .title{
    display: none;
  }
  .CPFunction1{
    /* border: 2px solid red;
     */

    display: block;
    
   }
   .CPFunction1 .function > div {
padding-top: 13px;
   }
   .CPFunction1 .function > div:first-child{
padding-top: 20px;
   }
   .CPFunction1  .play{
    display: none;
   }
   .f1{
    width: 99%;
   }
   .function{
    height: 60px;
    width: 100%;
   }
   .function h3{
    font-size: 2vmax;
   }
   .function > div:nth-child(4) {
    width: 80px;
  }
 .mobile-sidebar{
  /* border: 2px solid red; */
  margin-top: 10px;
  transform: rotate(360deg);
 }

 .main-video > .sidebar{
  display: none;
 }
 .sidebar{
  flex-direction: row;
  width: 20%;
  gap: 80%;
  /* border: 2px solid green; */
  padding-left: 18px;
 }
 .video-call{
  width: 90%;
  height: 75%;
  /* border: 2px solid green; */
 }
.main-video{
  justify-content: center;
 margin-top: 10px;
}
.ControlPanel{
  display: none;
}

.f2{
  /* border: 2px green solid; */
  width: 99%;
  height: 70px;
}
.MobFooter{
  display: block;
  margin-top: -160px;
  /* border: 2px solid red; */
  
}
.mob-end-jam{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding-left: 1%;

}
.mob-end-jam > div {
  border: 2px solid grey;
  height: 50%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/* .play{
  width: 10%;
  position: absolute;
  margin-top: -55px;
  margin-left: 290px;
} */
.mob-end-jam button,
.mob-end-jam svg {
  /* font-size: 1.5rem; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mob-end-jam button:hover,
.mob-end-jam svg:hover {
  color: #ffc701;
}

.mob-end-jam > div:last-child {
  width: 22%;
  height: 45%;
  border-radius: 5px;

  background-color: red;
  border: 1px solid red;
}
.mob-end-jam > div:nth-child(5){
  border: none;

}
.mob-end-btn {
  font-size: 2vmax;
  color: white;
}
.userName > div{
 padding-left: 30px;
 padding-right: 30px;
 height: 3.5vmax;
 /* padding-top: 10%; */
}
.function > div > h6{
  /* border: 2px solid red; */
  padding-right:0;
  }


}

/* Media query for screens between 600 and 900 pixels */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for screens between 600 and 900 pixels */
}

/* Media query for screens larger than 900 pixels */
@media only screen and (min-width: 901px) {
  /* Styles for screens larger than 900 pixels */
}

/* Default styles for all screen sizes */

/* Media query for mobile devices in landscape orientation */
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* Styles for mobile devices in landscape orientation */
}
